html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	background: rgb(46,50,99);
	background: linear-gradient(337deg, rgba(46,50,99,1) 41%, rgba(33,118,255,1) 100%);
	color: #B9D6F2;
}

.site-header {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	
}

.navigation {
	
}

.navigation__list {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 100px;
	align-items: center;
	justify-content: center;
}

.navigation__item {
	display: block;
	margin: 0 16px;
}
.navigation__link {
	color: #1A936F;
}

.main__header {
	color: #0E0E52;
	margin-bottom: 40px;
}

.main {
	width: 100%;
	max-width: 700px;
	min-width: 500px;
	overflow: scroll;
	margin: 32px auto;
	padding-top: 50px;
}

.about {
	overflow: hidden;
}

.about__box {
	position: sticky;
	width: 100px;
	height: 100px;
	background: yellowgreen;
	padding: 10px;
	border: 10px solid red;
	margin: 10px;
	box-sizing: border-box;
	top: 0px;
	left: 0%;
}

.about__header {
	color: #0E0E52;
}

.about__paragraph {
	color: r#B9D6F2;
	padding: 16px;
	margin-bottom: 16px;
}
.about__paragraph--mini {
	color: #FF6700;
}
.about__image {
	width: 100%;
	max-width: 150px;
	max-height: 150px;
	display: block;
	float: left;
	margin: 10px 16px 32px 0;
	border-radius: 50%;
	display: flex;
	align-self: flex-start;
}
.about__link {
	color: #1A936F;
}
.diary {
	clear: both;
}
.diary__header {
	color: #0E0E52;
}
.diary__thirdHeader {
	color: #0E0E52;
	text-decoration: none;
}
.diary__paragraph {
	color: r#B9D6F2;
	margin: 0 16px 0 20px;
}
.diary__image {
	width: 100%;
	max-width: 200px;
	display: block;
	float: right;
	margin: 10px 16px 16px 16px;
	box-sizing: border-box;
}
.diary__list {
	color: r#B9D6F2;
	padding: 16px;
	margin: 0 16px 0 20px;
}
.diary__link {
	color: #1A936F;
}
.htmlCreation {
	clear: both;
}
.htmlCreation__header {
	color: #1460aa;
}
.htmlCreation__paragraph {
	color: r#B9D6F2;
	margin: 0 16px 0 20px;
}
.htmlCreation__thirdHeader {
	color: #0E0E52;
	text-decoration: none;
}

.footer {
	width: 100%;
	max-width: 700px;
	min-width: 500px;
	overflow: scroll;
	margin: 32px auto;
	display: flex;
	align-content: center;
	justify-content: center;
}

.footer__image {
	width: 100%;
	max-width: 200px;
	display: block;
	float: right;
	margin: 10px 16px 16px 16px;
	box-sizing: border-box;
}
.footer__top {
	position: fixed;
	bottom: 10px;
	right: 30px;
	color: #1A936F;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-content: center;
	justify-content: center;
}

.hobby {

}
.hobby__list {
	list-style: none;
	padding: 0;
}