body {
	background: #fefefe;
	color: #333;
}

.mainHeader {
	color: #00487c;
	margin-bottom: 40px;
	
}

.sectionHeader, .diaryHeader {
		color: #1460aa;
}

.paragraph {
	color: rgb(3, 3, 3);
	padding: 16px;
}

.image {
	width: 190px;
	float: right; 
	margin-left: 20px;
}

.thirdHeader {
	color: #0496FF;
	text-decoration: 
}

.link {
	color: #1A936F;
}

.about {
	
}
.main {
	width: 100%;
	max-width: 700px;
	min-width: 500px;
	overflow: scroll;
	margin: 32px auto;
}
footer {
	width: 100%;
	max-width: 700px;
	min-width: 500px;
	overflow: scroll;
	margin: 32px auto;
}