body {
	background: #fefefe;
	color: #333;
}

.mainHeader {
	color: #00487c;
	
}

.sectionHeader, .diaryHeader {
		color: #1460aa;
}


.paragraph {
    color: darkblue;
}
.image {
	width: 190px;
	float: right; 
	margin-left: 20px;
}

.thirdHeader {
	color: #0496FF;
	text-decoration: 
}

.link {
	color: #1A936F;
}

